<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
</head>
<body>
    <h1>{{ .Title }}</h1>
    {{ if .Site.Data.teas.teas }}
        <ul>
            {{ range .Site.Data.teas.teas }}
            <li>
                <a href="{{ .link }}">
                    {{ if .img }}
                    <img src="{{ .img }}" alt="{{ .name }}" style="width:50px;height:auto;">
                    {{ end }}
                    {{ .name }} - {{ .price }}
                </a>
            </li>
            {{ end }}
        </ul>
    {{ else }}
        <p>Ejecutar scrapping para ver datos: http://localhost:8080/api/1/scrape/hebras</p>
    {{ end }}

</body>
</html>